<?xml version="1.0"?>
<configuration>

	<connectionStrings>
		<add name="BooksConnectionString"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Books.mdf;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<location path="Manage.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>

</configuration>